#menu-wrapper
    #hamburger-menu
        span
        span
        span

ul#accordion.accordion
    include ../_components/_mixin

    li
        +shopstar_accordion("Tecnología")
        ul.submenu
            +list('#', "Javascript")
            +list('#', "jQuery")
            +list('#', "Frameworks javascript")


    li
        +shopstar_accordion("Desarrollo front-end")
        ul.submenu
            +list('#', "Tablets")
            +list('#', "Dispositivos mobiles")
            +list('#', "Medios de escritorio")
            +list('#', "Otros dispositivos")